//colors
$primary: 	#89CFF0;
$secondary: #7CFC00;
$error: #FF0000;
$info: #FFEA00;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;