@use "sass:map";

//colors
$primary: 	#89CFF0;
$secondary: #7CFC00;
$error: #FF0000;
$info: #FFEA00;

$colors:(
    "primary": 	#89CFF0,
    "secondary": #7CFC00,
    "error": #FF0000,
    "info": #FFEA00,
    "black": black,
    "white": white,
    "pink" : #FFC0CB,
    "purple" : #BF40BF,
    "peach": #FFE5B4
);
.test-btn{
    background-color: map-get($colors, "black");
    color: map-get($colors, "white")
}

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

//font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;