.App {
  text-align: center;
}

p{
  font-size: 1.2rem;
}

button{
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

input[type=text]{
  padding: 8px;
}


input[type=text]::placeholder{
  font-size: 1rem;
  font-weight: 500;
  color: #000
}