h1 {
  text-align: center;
}

.form-component{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

form div{
  margin: 12px auto;
}

.exp{
  display:flex;
  gap: 2rem;
}

.exp button{
  padding: 16px;
  border-radius: 50%;
}